@page "/Compras"
@inject ComprasBLL comprasBLL

<EditForm Model="compra">

    <div class="card" style="box-shadow: 8px 8px rgba(0, 0, 0, 0.26);">

        <div class="card-header">
            <h4 style="text-align: center;">Consulta de compra</h4>
        </div>

        <div class="card-body">
            <div class="input-group mb-4">
            <input type="date" @bind="fecha">
            <input type="date" @bind="fecha2">
            <button @onclick="Buscar" class="btn btn-primary"> <i class="oi oi-magnifying-glass"></i></button>
            </div>

        </div>
    </div>

    <table class="table table-light" style="box-shadow: 1px 6px rgba(0, 0, 0, 0.2);">
        <thead class="thead">
            <tr class="table">
                <th>CompraId</th>
                <th>Fecha</th>
                <th>Suplidor</th>
                <th>Costo</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var compra in comprasList)
            {

                if (compra == comprasList.ElementAt(0))
                {
                    TotalCompras = 0;
                    TotalRegistro = 0;
                }

                <tr>
                    <td>@compra.CompraId</td>
                    <td>@compra.Fecha.ToString("dd/MM/yyyy")</td>
                    <td>@compra.SuplidorNombre</td>
                    <td>@compra.Total </td>
                </tr>

                TotalCompras += compra.Total;
                TotalRegistro = compra.CompraId;
            }

        </tbody>

    </table>

    <div class="row justify-content-between">
        <div class="col-4">
            <label>Total Registros</label>
            <div class="input-group mb-3">
                <span class="form-control">@TotalRegistro</span>
            </div>
        </div>

        <div class="col-4">
            <label>Total Compras</label>
            <div class="input-group mb-3">
                <span class="form-control">@TotalCompras</span>
            </div>
        </div>
    </div>





</EditForm>

@code {


    public Compras compra { get; set; } = new Compras();
    public DateTime fecha { get; set; } = new DateTime();
    public DateTime fecha2 { get; set; } = new DateTime();
    public double TotalCompras { get; set; } = 0;
    public List<Compras> comprasList { get; set; } = new List<Compras>();
    public int TotalRegistro { get; set; } = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        fecha = DateTime.Now;
        fecha2 = DateTime.Now;
    }


    void Buscar()
    {
        if (fecha != null || fecha2 != null)
        {

            comprasList = comprasBLL.Buscar(fecha, fecha2);

        }
        else
        {
            Console.WriteLine("No se encontro esta fecha");
        }


    }
}
